*{
    box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: 'poppins',sans-serif;
}

    

 .container-sm{
     background-color: #fff;
     margin: 0% 25%;
     height: 272vh;
    
    
     
}
 .bg-image{
 background-image: url("images/room.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 margin: 0  5%;
 height: 100vh;
 border-radius: 15px;

}
 .boxes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    padding-top: 35em
}

.box img{
    border-radius: 35px;
    width: 6em;
    border: 5px solid white;
    position: relative;
}
.number{
    position: relative;
    color: white;
    bottom: 57px;
    left: 30px;
    font-size: 30px;
    background-color: transparent;

}

.text{
    font-weight: bold;  

}
.STAR{
    font-size: 35px;
    
}

.border-1{
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
    margin: 0 7%;
    padding: 1em;
    width: 85%;
}
.fa-star{
    font-size: 30px;
}
.figure i{
    font-weight: bold;
}
.content{
    margin: 5px 40px;
    font-weight: bold;
}
button{
    background-color: rgb(250, 154, 110);
    color: #fff;
    position: relative;
    width: 90%;
    height: 18vh;
    margin-top: 2px;
    border-radius: 20px;
     margin: 0 10px;
     left: 25px;
     font-size: 35px;
     border: none;

}
.group{
    height: 60px;
    
}
.item img{
    width: 7vw;
    height: 15vh;
    margin: 0 15px;
    border: px solid rgb(152, 206, 152);
    border-radius: 50%; 

}

